$font-stack:    Helvetica, sans-serif;
$primary-color: white;

body {
  background-image: url(back.jpg);
  background-size: cover;
}

table {
  border: 4px solid gray;
  border-radius: 5px;
  height: 100%;
  font: 100% $font-stack;
  color: $primary-color;
  background-color: black;
  opacity: 0.5;
}

th, tr, td {
  border: 1px solid gray;
}

tr.rows:hover {
  background-color: green;
  color: white;
}
